
*{
    background-color: rgba(181, 174, 166);
    color:black;
    line-height: 1.9;
}

body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* align-items: ; */
    /* place-items: center */
}
.outer1{
    /* width:900px; */

    /* 자식 요소 중 가장 큰 요소(560px)의 너비에 딱 맞춤 */
    width: fit-content; 
  
  /* 양옆에 살짝 여유 공간(좌우 20px) 추가 */
    padding: 90px;

    /* height: 800px; */
    border: 3px solid rgb(87, 85, 85);
    /* justify-items: center; */
    
    place-items: center center;
    align-content: space-evenly;

    
}
.outer2{
    width:600px;

    /* 자식 요소 중 가장 큰 요소(560px)의 너비에 딱 맞춤 */
    /* width: fit-content;  */


    border: 3px solid rgb(87, 85, 85);
    /* justify-items: center; */
    place-items: center center;
    align-content: space-evenly;
    

    
}
.inner1{
    display:grid
}